/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/09/2018, 04:23:29 PM
    Author     : RenzoJose
*/

/*ajax load*/
.working{position: relative;}
.working:after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .8;
    background: rgba(247, 247, 247, 1) url('../../../../../assets/images/loading.svg') no-repeat center center;
    z-index: 999;
}
/*# sourceMappingURL=bootstrap.css.map */