{% extends 'base.html.twig' %}


{% block javascripts %}
{% endblock %}


{% block body %}    

    <main role="main">
        <div class="container">
            <h1 class="jumbotron-heading">Add Image</h1>
            {# MENSAJES #}
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('mensaje') %}
                    <div class="alert alert-success alert-dismissible res" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>{{ flashMessage }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>{{ flashMessage }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-12" id="divMessages">
                {% for error in errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>{{ error.message }}</p>
                    </div>
                {% endfor %}
            </div>

            {{ form_start(form) }}      
            <div class="form-group">
                <label for="imagesTitle">Title</label>
                {{ form_widget(form.imagesTitle , { 'attr': { 'class': 'form-control col-sm-10'}}) }}
            </div>
            <div class="form-group">
                <label for="imagesDesc">Description</label>
                {{ form_widget(form.imagesDesc , { 'attr': { 'class': 'form-control col-sm-10'}}) }}
            </div>
            <div class="form-group">
                <label for="imagesUrl">URL</label>
                {{ form_widget(form.imagesUrl , { 'attr': { 'class': 'form-control col-sm-10'}}) }}
            </div>
            <div class="form-group">
                <label for="imagesState">State</label>
                {{ form_widget(form.imagesState , { 'attr': { 'class': 'form-control col-sm-10'}}) }}
            </div>

            <div class="form-group">
                {{ form_widget(form.save , { 'attr': { 'class': 'btn btn-primary'}}) }}
                <button type="button" class="btn btn-danger">Cancel</button>
            </div>

            {{ form_end(form) }}


            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row" id="gridPopulate"></div>
                </div>
            </div>

        </div>


    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            {#<p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>#}
        </div>
    </footer>


{% endblock %}