{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function deleteImage(id) {
            var urlId = '{{ path('galery_delete', { 'id':'iddinamic' } ) }}';

            var url = urlId.replace("iddinamic", id);
        {#            var mensaje = "¿Está seguro que desea " + accion + " la solicitud de Reclutamiento para el cargo " + cargGls + "?";#}
        {#            var titulo = "<span style='font-family: Akzidenz-Grotesk BQ Condensed; font-variant: small-caps; font-size: 30px;     color: #2072be;     margin: 0;'>" + accion + " Solicitud</span>";#}
                bootbox.confirm({
        {#                title: 'Delete',#}
                    message: '¿ Are you sure to delete this image?',
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-primary'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $("body").addClass("working");
                            $.ajax({
                                url: url,
                                type: "POST",
                                data: '&accion=' + 'accion',
                                success: function (data) {
                                    $("body").removeClass("working");
                                    if (data.passes) {
                                        location.reload();
                                    } else {
                                        alert("Ha ocurrido un error!");
                                    }
                                }
                            });
                        }
                    }
                });
            }
    </script>
{%endblock %}
{% block body %}

    <main role="main">

        <div class="album py-5 bg-light">
            <div class="container">
                <h1 class="jumbotron-heading">Galery</h1>
                {# MENSAJES #}
                <div class="col-md-12">
                    {% for flashMessage in app.session.flashbag.get('mensaje') %}
                        <div class="alert alert-success alert-dismissible res" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <p>{{ flashMessage }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-12">
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <p>{{ flashMessage }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for img in images %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="{{ img.imagesUrl}}" alt="{{ img.imagesTitle}}[100%x225]" style="height: 225px; width: 100%; display: block;" >
                                <div class="card-body">
                                    <p class="card-text">{{ img.imagesDesc|raw}}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="deleteImage({{img.imagesId}})">Delete</button>
                                            <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('galery_edit',{ id:img.imagesId}) }}">Edit</a>
                                        </div>
                                        <small class="text-muted">{{ img.imagesTitle|raw}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    {% endfor %}

                </div>
            </div>
        </div>

    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="../../assets/js/vendor/popper.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>#}
    {#    <script src="../../assets/js/vendor/holder.min.js"></script>#}



{% endblock %}