{% extends 'base.html.twig' %}


{% block javascripts %}
    {{ parent() }}
    <script>
        function checkimage(url) {
            $.ajax({
                url: url,
                type: 'HEAD',
                error: function ()
                {
                    return true;
                },
                success: function ()
                {
                    return true;
                }
            });
        }

        function makeApiCall() {
            var params = {
                // The ID of the spreadsheet to retrieve data from.
                spreadsheetId: '1PCrwoc4CAAMUpHbYOvd3DauPpyVZXhrpj4iQLndzj58', // TODO: Update placeholder value.

                // The A1 notation of the values to retrieve.
                range: 'Sheet 1', // TODO: Update placeholder value.

                // How values should be represented in the output.
                // The default render option is ValueRenderOption.FORMATTED_VALUE.
        {#                valueRenderOption: 'FORMATTED_VALUE'  // TODO: Update placeholder value.#}

                    // How dates, times, and durations should be represented in the output.
                    // This is ignored if value_render_option is
                    // FORMATTED_VALUE.
                    // The default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER].
                    //dateTimeRenderOption: '',  // TODO: Update placeholder value.
                };
                var request = gapi.client.sheets.spreadsheets.values.get(params);
                request.then(function (response) {
                    var range = response.result;
                    if (range.values.length > 0) {
                        var url = '{{ path('galery_load') }}';
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: {'data': range.values},
                            success: function (data) {
                                $("body").removeClass("working");
                                $('#divMessages').empty();
                                var html = "<div class='alert alert-success alert-dismissible res' role='alert'>"
                                        + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"
                                        + "<p>" + data.message + "</p>";
                                $('#divMessages').append(html);
                            },
                            error: function () {

                            }
                        });

                        /* for (let i in range.values) {
                         
                         if (range.values[i].length === 3) {
                         
                         if (0 in range.values[i]) {
                         var item = range.values[i][0];
                         }
                         if (1 in range.values[i]) {
                         var des = range.values[i][1];
                         }
                         if (2 in range.values[i]) {
                         var img = range.values[i][2];
                         }
                         var html = "<div class='col-md-4'>" +
                         "<div class='card mb-4 shadow-sm'>" +
                         "<img class='card-img-top' src='" + img + "' alt='" + item + " [100%x225]' style='height: 225px; width: 100%; display: block;' >" +
                         "<div class='card-body'>" +
                         "<p class='card-text'>" + des + "</p>" +
                         "<div class='d-flex justify-content-between align-items-center'>" +
                         "<div class='btn-group'>" +
                         "<button type='button' class='btn btn-sm btn-outline-secondary'>View</button>" +
                         "<button type='button' class='btn btn-sm btn-outline-secondary'>Edit</button>" +
                         "</div>" +
                         "<small class='text-muted'>9 mins</small>" +
                         "</div>" +
                         "</div>" +
                         "</div>" +
                         "</div>";
        {#                                if (checkimage(img)) {#}
                         document.getElementById("gridPopulate").innerHTML += html;
        {#                                }#}
                         
                         
                         
                         }
                         } */

                    } else {
                        appendPre('No data found.');
                    }

                }, function (reason) {
                    console.error('error: ' + reason.result.error.message);
                });
            }

            function initClient() {
                var API_KEY = 'AIzaSyDxPP_jK8kTvVjAF7makXqtjZEYgkTi4fI'; // TODO: Update placeholder with desired API key.

                var CLIENT_ID = '193554620301-llcgqu3fu8muo7qmqf5fnks45gtklafb.apps.googleusercontent.com'; // TODO: Update placeholder with desired client ID.

                // TODO: Authorize using one of the following scopes:
                //   'https://www.googleapis.com/auth/drive'
                //   'https://www.googleapis.com/auth/drive.file'
                //   'https://www.googleapis.com/auth/drive.readonly'
                //   'https://www.googleapis.com/auth/spreadsheets'
                //   'https://www.googleapis.com/auth/spreadsheets.readonly'
                var SCOPE = 'https://www.googleapis.com/auth/spreadsheets.readonly';
                gapi.client.init({
                    'apiKey': API_KEY,
                    'clientId': CLIENT_ID,
                    'scope': SCOPE,
                    'discoveryDocs': ['https://sheets.googleapis.com/$discovery/rest?version=v4'],
                }).then(function () {
                    gapi.auth2.getAuthInstance().isSignedIn.listen(updateSignInStatus);
                    updateSignInStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
                });
            }

            function handleClientLoad() {
                gapi.load('client:auth2', initClient);
            }

            function updateSignInStatus(isSignedIn) {
                if (isSignedIn) {
                    makeApiCall();
                }
            }

            function handleSignInClick(event) {
                gapi.auth2.getAuthInstance().signIn();
            }

            function handleSignOutClick(event) {
                gapi.auth2.getAuthInstance().signOut();
            }

            function load() {
        {#            this.onload = function () {};#}
                $("body").addClass("working");
                handleClientLoad();
            }
    </script>
    <script async defer src="https://apis.google.com/js/api.js"
            onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>

{% endblock %}


{% block body %}    

    <main role="main">
        <div class="container">
            <h1 class="jumbotron-heading">Load Galery</h1>
            {# MENSAJES #}
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('mensaje') %}
                    <div class="alert alert-success alert-dismissible res" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>{{ flashMessage }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-12">
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>{{ flashMessage }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-12" id="divMessages">
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>{{ flashMessage }}</p>
                    </div>
                {% endfor %}
            </div>

            {{ form_start(form) }}            
            <div class="form-group">
                <label for="exampleFormControlFile1">URL</label>
                {{ form_widget(form.galeryUrl , { 'attr': { 'class': 'form-control col-sm-10'}}) }}
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">File</label>
                {{ form_widget(form.galeryFile , { 'attr': { 'class': 'form-control-file'}}) }}
            </div>
            <div class="form-group">
                {{ form_widget(form.save , { 'attr': { 'class': 'btn btn-primary'}}) }}
                <button type="button" class="btn btn-success" onclick="load();">Load</button>
            </div>

            {{ form_end(form) }}


            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row" id="gridPopulate"></div>
                </div>
            </div>

        </div>


    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            {#<p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>#}
        </div>
    </footer>


{% endblock %}